* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  color: red;
}

.box00 {
  margin: 0 auto;
  width: 1000px;
  background: #333;
  color: #fff;
}

.box01 {
  width: 50%;
  background: #f00;
}

.box02 {
  margin-left: 100px;
  width: 75%;
  background: #ff0;
}

.box03 {
  margin-left: 100px;
  background: #0f0;
}
