/* on_header css code */
.on_header {
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.menu_bar {
  display: flex;
}

.menu_bar li {
  border-right: 1px solid #ddd;
  line-height: 30px;
}

.menu_bar a {
  display: block;
  padding: 0 15px;
}

.on_header .container .second_box {
  display: flex;
  margin: 0 0 0 auto;
}

.second_box .log_in_box {
  position: relative;
  line-height: 30px;
}

.second_box .log_in_box {
  border-right: 1px solid #ddd;
  padding-right: 15px;
}

.on_header .container figure {
  line-height: 30px;
}

.on_header .container .icon_set {
  margin: 0 0 0 auto;
  padding: 0 15px;
  font-size: 20px;
}

.on_header .container .icon_set figure>* {
  padding: 0 5px;
}

/* header css code */
header {
  position: relative;
  /* border: 1px solid #fff; */
  height: 60vh;
  background: url('./assets/image/header_02.jpg') no-repeat center center/cover;
}

nav {
  position: relative;
  height: 5vh;
  background-color: rgba(245, 245, 245, 1);
  transition: 0.5s;
}

nav::after {
  /* border: 1px solid black; */
  content: '';
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 0;
  background-color: rgba(245, 245, 245, 0.5);
  transition: 0.5s;
}

nav:hover::after {
  height: 400%;
}

nav:hover {
  background-color: rgba(245, 245, 245, 0.5);
}

.main_menu {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 1200px;
  height: 100%;
}

.main_menu .side_menu li a {
  display: block;
}

.main_menu a {
  flex: 1;
  display: block;
  padding: 0 15px;
  line-height: 5vh;
}

.main_menu .side_menu {
  /* border: 1px solid black; */
  position: absolute;
  transform: translateX(10%);
  height: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  z-index: 999;
}

nav:hover .side_menu {
  height: 400%;
}

header .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  padding: 35px 0;
  width: 100%;
}

.header_title {
  margin: 0 0 15px 0;
  font-size: 35px;
  font-weight: 700;
  opacity: 0;
  transition: 0.5s;
}

header .container:hover .header_title {
  opacity: 1;
}

.header_sub_title {
  margin: 0 0 25px 0;
  opacity: 0;
  transition: 0.5s 0.5s;
}

header .container:hover .header_sub_title {
  opacity: 1;
}

.header_desc {
  width: 70%;
  text-align: center;
  opacity: 0;
  transition: 0.5s 1s;
}

header .container:hover .header_desc {
  opacity: 1;
}

/* section css code */
.introduce {
  /* border: 1px solid black; */
  height: 80vh;
  background: #f7f7f7;
}

.introduce .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 1200px;
}

.desc_box h2 {
  padding: 30px 0;
  /* border: 1px solid black; */
  font-size: 45px;
  text-align: center;
}

.desc_box h2::before {
  content: '';
  display: block;
  margin: 30px auto;
  width: 3px;
  height: 150px;
  background: #f00;
}

.desc_box p {
  /* border: 1px solid black; */
  margin: 0 auto 30px auto;
  width: 80%;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4;
}

.album_container {
  display: flex;
  gap: 15px;
  /* border: 1px solid black; */
  width: 100%;
}

.album_container figure {
  position: relative;
  flex: 1;
}

.album_container figure:first-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -13%;
  width: 30px;
  height: 3px;
  background: #f00;
}

.album_container figure::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 30px;
  height: 3px;
  background: #f00;
}

.album_container figure img {
  border-radius: 20% 0;
  height: 100%;
}

/* search_section css code */
.search {
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  align-items: center;
  height: 35vh;
  background: #ddd;
}

.search .container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 1200px;
}

.search_desc {
  /* border: 1px solid black; */
  margin: 0 0 35px 0;
  text-align: center;
}

.search_desc h2 {
  /* border: 1px solid black; */
  margin: 0 0 60px 0;
  text-align: center;
  font-size: 45px;
}

.xi-arrow-down {
  /* border: 1px solid black; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 5px;
  font-size: 35px;
  background: #fff;
  opacity: 0;
  animation: arrowdown 1.2s infinite;
}

@keyframes arrowdown {
  to {
    opacity: 1;
    top: 50%;
  }
}

.search_form {
  /* border: 1px solid black; */
  padding: 60px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.search_bar {
  border-radius: 15px;
  border: none;
  width: 40%;
  height: 60px;
}

.search_bar::placeholder {
  text-align: center;
  font-size: 15px;
}

.search_click {
  border-radius: 15px;
  border: none;
  width: 60px;
}

.search_click i {
  font-size: 35px;
}

/* subscribe css code */
.subscribe {
  padding: 30px 0;
  height: 65vh;
  background: #fff;
  overflow: hidden;
}

.subscribe_desc {
  margin: 0 0 25px 0;
  padding: 25px 0;
}

.subscribe_desc h1 {
  margin: 0 0 35px 0;
  font-size: 45px;
  text-align: center;
}

.subscribe_desc p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.subscribe .container {
  padding: 20px 0 0 0;
  display: flex;
  gap: 30px;
}

.purchase {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 50px 0;
  height: 550px;
  transition: 0.5s;
}

.basic {
  background: rgba(0, 255, 127, 0.4);
}

.premium {
  background: rgba(0, 0, 139, 0.4);
}

.superior {
  background: rgba(47, 79, 79, 0.4);
}

.purchase:hover {
  transform: translateY(-2%);
}

.premium:hover {
  transform: translateY(-5%);
}

.superior:hover {
  transform: translateY(-8%);
}

.purchase span {
  font-size: 24px;
  font-weight: 700;
}

.charge {
  position: relative;
  border-radius: 45px;
  border-spacing: 60px 15px;
  padding: 10px 0;
  font-size: 19px;
  text-align: center;
}

.superior .charge {
  color: #fff;
}

.charge thead th {
  margin-bottom: 30px;
}

.charge tbody td:first-child {
  position: relative;
  padding: 10px 0;
}

.charge tbody td:last-child {
  padding: 10px 0;
  text-align: right;
}

.superior .charge tbody td:last-child {
  position: relative;
}

.superior .charge tbody td:last-child::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -2px;
  display: block;
  width: 110%;
  height: 2px;
  background-color: #f00;
}

.superior tbody tr:first-child td:last-child::after {
  content: '₩10,500';
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 21px;
  color: #f00;

}

.superior tbody tr:nth-child(2) td:last-child::after {
  content: '₩65,200';
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 21px;
  color: #f00;

}

.superior tbody tr:last-child td:last-child::after {
  content: '₩106,000';
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 21px;
  color: #f00;

}

.more {
  display: block;
  border-radius: 25px;
  padding: 15px;
  width: 50%;
  text-align: center;
  background-color: #1E90FF;
  color: #fff;
}

/* test section css code */
.test {
  height: 50vh;
  background: #f3f3f3;
}