

.main_visual .main_slider figure {
  position: relative;
  height: 600px;
}

.main_visual .main_slider .item01 {
  background: url('../../assets/image/slick/mainvisual01.jpg') no-repeat center top/cover;
}

.main_visual .main_slider .item02 {
  background: url('../../assets/image/slick/mainvisual02.jpg') no-repeat center center/cover; 
}

.main_visual .main_slider .item03 {
  background: url('../../assets/image/slick/mainvisual03.jpg') no-repeat center center/cover; 
}

.main_visual .main_slider .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 100px;
  height: 100px;
  font-size: 0;
  background: transparent;
  /* background를 투명하게 만들어준다 */
  outline: none;
  z-index: 999;
  color: #f00;
}

.main_visual .main_slider .slick-prev {
  margin: 0 0 0 -700px;
  transform: translate(-50%, -50%) rotate(-45deg) ;
}

.main_visual .main_slider .slick-next {
  margin: 0 0 0 700px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.main_visual .main_slider .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%);
}

.main_visual .main_slider .slick-dots li {
  display: inline-block;
  margin: 0 3px;
  width: 80px;
  height: 5px;
  line-height: 5px;
  background: #333;
  transition: 0.5s;
}

.main_visual .main_slider .slick-dots li.slick-active {
  background: #f00;
}

.main_visual .main_slider .slick-dots button {
  display: none;
}

.main_visual .main_slider .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

.main_visual .main_slider .inner h3 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}

.main_visual .main_slider .inner p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}

.main_visual .main_slider .inner a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 30px;
  background: #333;
}

.main_visual .main_slider .inner a:hover {
  border: 1px solid black;
  background: #fff;
  color: #333;
}

.main_visual .main_slider figure h3 {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual .main_slider figure.anime h3 {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.2s;
}

.main_visual .main_slider figure p {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual .main_slider figure.anime p {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.5s;
}

.main_visual .main_slider figure a {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual .main_slider figure.anime a {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.5s 1s, transform 0.5s 1s, background-color 0.5s;
}

