.main_visual {
  position: relative;
  padding: 100px 0;
  border: 1px solid #000;
  height: 50vh;
  background-color: #f9f9f9;
}

.main_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  width: 350px;
  height: 350px;
}

.common {
  margin: 0 10px;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.item01 {
 background-image: url('../../../assets/image/a_present_for_everyone.jpg'); 
}

.item02 {
  background-image: url('../../../assets/image/freedom_child.jpg'); 
 }

.item03 {
  background-image: url('../../../assets/image/screen_violence.jpg'); 
 }