.main_visual {
  position: relative;
  height: 100vh;
}

.main_visual .main_slider {
  position: relative;
}

.main_visual .slick-dots {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.main_visual .slick-dots li {
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0;
  transition: 0.5s;
}

.main_visual .slick-dots li button {
  opacity: 0;
}

.main_visual .slick-dots .slick-active {
  border-radius: 10px;
  width: 130px;
  background: #f00;
}

.custom_slide_set {
  position: absolute;
  margin-right: 30px;
  right: 16%;
  bottom: 18.5%;
  /* transform: translateY(-90%); */
}

.custom_slide_set i {
  color: #f00;
  font-size: 25px;
  cursor: pointer;
}