section {
  background: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: 0 auto;
  width: 1200px;
}

.menu {
  display: flex;
  justify-content: center;
  font-size: 19px;
}

.menu li a {
  display: block;
  border-left: 1px solid #fff;
  padding: 30px 60px;
  transition: 0.5s;
}

.menu li:last-child a {
  border-right: 1px solid #fff;
}


.menu li:hover a {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.map {
  position: relative;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 100%;
  height: 100vh;
  background: #f9f9f9 url('../../assets/image/0617/korea_map.png') no-repeat center 200%/contain;
}

.location li {
  display: none;
  position: absolute;
  z-index: 999;
  border-radius: 100%;
  border: 3px solid #f00;
  padding: 5px;
  color: #ff0;
  font-size: 25px;
  animation: circle 1.5s infinite;
}

.location li.on:nth-child(1) {
  inset: 53% auto auto 48%;
}

.location li:nth-child(2) {
  inset: 77% auto auto 61%;
}

.location li:nth-child(3) {
  inset: 54% auto auto 43%;
}

.location li:nth-child(4) {
  inset: 71% auto auto 58%;
}

.location li:nth-child(5) {
  inset: 77% auto auto 46%;
}

@keyframes circle {
  to {
    transform: scale(1.5);
  }
}