body {
  background-color: #f5f5f5;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

.part {
  position: absolute;
  /* border: 1px solid black; */
  width: 50px;
  height: 50px;
}

.eye_1 {
  top: 120px;
  left: 110px;
  /* border: 1px solid black; */
}

.eye_1 span:first-child {
  position: absolute;
  top: 25px;
  left: 1px;
  width: 25px;
  border: 1px solid black;
  transform: rotate(45deg);
}

.eye_1 span:first-child.on {
  transform: rotate(135deg);
}

.eye_1 span:last-child {
  position: absolute;
  top: 25px;
  left: 17px;
  width: 25px;
  border: 1px solid black;
  transform: rotate(135deg);
}

.eye_1 span:last-child.on {
  transform: rotate(-135deg);
}

.eye_2 {
  top: 120px;
  left: 330px;
}

.eye_2 span:first-child {
  position: absolute;
  top: 25px;
  left: 1px;
  width: 25px;
  border: 1px solid black;
  transform: rotate(45deg);
}

.eye_2 span:first-child.on {
  transform: rotate(135deg);
}

.eye_2 span:last-child {
  position: absolute;
  top: 25px;
  left: 18px;
  width: 25px;
  border: 1px solid black;
  transform: rotate(135deg);
}

.eye_2 span:last-child.on {
  transform: rotate(-135deg);
}

.mouth {
  top: 340px;
  left: 230px;
}

.mouth span:first-child {
  position: absolute;
  top: 25px;
  left: 3px;
  width: 25px;
  border: 1px solid black;
  transform: rotate(135deg);
}

.mouth span:first-child.on {
  transform: rotate(45deg);
}

.mouth span:last-child {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 25px;
  border: 1px solid black;
  transform: rotate(45deg);
}

.mouth span:last-child.on {
  transform: rotate(135deg);
}

