/* 2022. 05. 30 INSEO */
/* header_css_code */
.header {
  line-height: 100px;
  background-color: #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.header .container ul {
  display: flex;
  gap: 40px;
}

/* main css code */
.visual {
  position: relative;
  height: 600px;
  background: #333;
  color: #fff;
  line-height: 600px;
  text-align: center;
}

/* footer css code */
.footer {
  text-align: center;
  line-height: 100px;
  background-color: #ddd;
}

.mopen {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: #ff0;
}

.mopen span {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 2px;
  background: #333;
}

.mopen span:nth-child(1) {
  top: 7px;
}

.mopen span:nth-child(2) {
  top: 14px;
}

.mopen span:nth-child(3) {
  top: 14px;
}

.mopen span:nth-child(4) {
  bottom: 7px;
}

  /* media query code */
@media ( max-width:1000px ) {
    /* header_css_code */
  .header {
    line-height: 100px;
    background-color: #fff;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: auto;
  }

  .header .container ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    line-height: 40px;
  }

  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 90px);
    height: 100vh;
    background: #ff0;
    z-index: 999;
    transition: left 0.5s;
  }

  nav.on {
    left: 0;
  }

  /* main css code */
  .visual {
    height: 600px;
    background: #333;
    color: #fff;
    line-height: 600px;
    text-align: center;
  }

  /* footer css code */
  .footer {
    text-align: center;
    line-height: 100px;
    background-color: #ddd;
  }

  .mopen {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #ff0;
  }

  .mopen span {
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #333;
    transition: 0.5s;
  }

  .mopen.on span:nth-child(1) {
    display: none;
  }

  .mopen.on span:nth-child(2) {
    transform: rotate(45deg);
  }

  .mopen.on span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .mopen.on span:nth-child(4) {
    display: none;
  }
}
